<h1>みんなの質問</h1>
<div class="user-account">
  <% unless current_user %>
    <div class="sign-up">
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-primary">サインアップ</button>
      <% end %>
    </div>
    <div class="login">
      <%= link_to user_session_path	do %>
        <button type="button" class="btn btn-primary">ログイン</button>
      <% end %>
    </div>
  <% else %>
    <div class="account">
      <%= current_user.name %>
      <%= link_to edit_user_registration_path do %>
        <button type="button" class="btn btn-primary">ユーザー編集</button>
      <% end %>
      <%= link_to destroy_user_session_path do %>
        <button type="button" class="btn btn-danger">サインアウト</button>
      <% end %>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        メニュー
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to "新規投稿", new_question_path, class: "dropdown-item" %></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  <% end %>
</div>
<div class="posts">
    <% @question.each do |q| %>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <%= link_to q.title, question_path(q) %>
            </div>
            <div class="card-subtitle">
                <i class="fa-regular fa-comment"></i><%= Answer.where(question_id: q.id).count %>
            </div>
        </div>
    </div>
    <% end %>
</div>
<%# link_to "edit", edit_question_path(q) %>
<%# link_to "delete", question_path(q), data:{ turbo_method: "delete", turbo_confirm: "Are you sure?" } %>

