<div class="card">
  <div class="card-body">
    <p class="card-subtitle">
      <%= @question.name %>
    </p>
    <p class="card-text">
      <%= @question.content %>
    </p>
  </div>
</div>

<div class="go-to-form">
  <button id="answer" class="btn btn-primary" type="submit">回答する</button>
</div>

<% if @question.answers.length > 0 %>
  <div class="card">
    <h4 class="answers-count">
      回答(<%= @question.answers.count %>件)
    </h3>
    <% @question.answers.each do |answer| %>
        <div class="card-body answer">
          <p class="card-subtitle">
            <%= answer.name %>
          </p>
          <p class="card-text">
            <%= answer.content %>
          </p>
          <div class="answer-menu">
            <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-gear"></i>
            </button>
            <ul class="dropdown-menu">
              <%= link_to "回答を削除", [answer.question, answer], data: { turbo_method: "delete", turbo_confirm: "本当に削除しますか?" }, class: "dropdown-item" %>
              <li><a class="dropdown-item" href="#">Menu item</a></li>
              <li><a class="dropdown-item" href="#">Menu item</a></li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
<% end %>

<div class="answer-form" id="create-answer">
  <h2>回答を追加する</h2>
  <%= form_with model: [@question, @question.answers.build] do |form| %>
      <div class="answer-errors">
      </div>
      <div class="answer-title">
        <%= form.label "ユーザー名", class: "form-label" %><br>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="answer-content">
        <%= form.label "回答", class: "form-label" %><br>
        <%= form.text_area :content, class: "form-control content" %>
      </div>
      <div class="answer-submit">
        <%= form.submit "回答を追加", class: "btn btn-outline-success" %>
      </div>

  <% end %>
</div>
<div class="back-button">
  <%= link_to root_path do %>
    <button type="button" class="btn btn-outline-primary">戻る</button>
  <% end%>
<div>

<script type="text/javascript">
  document.addEventListener("turbo:load", () => {
    Turbo.clearCache();
    //初期表示は非表示
    const button = document.getElementById("answer")
    button.addEventListener("click", function(){
      window.scrollTo(0, document.body.scrollHeight)
    });
  })
</script>