<% if flash[:error]%>
  <div class="alert alert-danger" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>
<div class="card">
  <div class="card-body">
    <p class="card-subtitle">
      <%# if @user != nil && @question.id == @user.id %>
      <% if @user != nil %>
        <%= @question.name %>
      <% else %>
        削除済みのユーザー
      <% end %>
    </p>
    <p class="card-text">
      <%= safe_join(@question.content.split("\n"), tag(:br)) %>
    </p>
    <% if user_signed_in? && @question.user_id == current_user.id %>
      <div class="answer-menu">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "質問を編集", edit_question_path(@question), class: "dropdown-item" %></li>
          <li><%= link_to "質問を削除", question_path(@question), data: { turbo_method: "delete", turbo_confirm: "本当に削除しますか?" }, class: "dropdown-item" %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? && @user != nil %>
  <!-- Button trigger modal -->
    <div class="answer-button">
      <button type="button" id="answer" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#answerModal">
      回答する
      </button>
    </div>
<% end %>

<% if @question.answers.length > 0 %>
  <div class="card">
    <h4 class="answers-count">
      回答(<%= @question.answers.count %>件)
    </h3>
    <% @question.answers.each do |answer| %>
        <div class="card-body answer">
          <p class="card-subtitle">
            <%= answer.name %>
          </p>
          <p class="card-text">
            <%= safe_join(answer.content.split("\n"), tag(:br)) %>
          </p>
          <% if user_signed_in? && answer.user_id == current_user.id %>
            <div class="answer-menu">
              <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-gear"></i>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "回答を削除", [answer.question, answer], data: { turbo_method: "delete", turbo_confirm: "本当に削除しますか?" }, class: "dropdown-item" %></li>
                <li><a class="dropdown-item" href="#">Menu item</a></li>
                <li><a class="dropdown-item" href="#">Menu item</a></li>
              </ul>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
<% end %>

<%= render partial: "answer_form" %>

<div class="back-button">
  <%= link_to root_path do %>
    <button type="button" class="btn btn-outline-primary">戻る</button>
  <% end%>
<div>
