<h2 class="all-title">ユーザー編集 <%= resource_name.to_s.humanize %></h2>
<div class="register-form">
  <%= form_for(resource, as: @user, url: registration_path(@user), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="register-email">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-contol" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="register-password">
      <%= f.label :password, class: "form-label" %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="register-password">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="register-password">
      <%= f.label :current_password, class: "form-label" %> <i>(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="register-submit">
      <%= f.submit "Update", class: "btn btn-outline-success" %>
    </div>
  <% end %>
</div>

<h3>退会する</h3>

<p>退会しますか？ <%= button_to "アカウントを削除", registration_path(resource_name), data: { turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger" %></p>

<%= link_to "Back", :back, class: "btn btn-outline-primary" %>
