<h2 class="all-title">ユーザー編集 <%= resource_name.to_s.humanize %></h2>
<div class="register-form">
  <%= form_for(resource, as: @user, url: registration_path(@user), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="register-user">
      <%= f.label "ユーザー名", class: "form-label"%>
      <%= f.text_field :name, class: "form-control"%>
    </div>
    <div class="register-email">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="register-password">
      <%= f.label :password, class: "form-label" %> <i>(変更が必要ない場合は空白)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> 文字以上</em>
      <% end %>
    </div>

    <div class="register-password">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="register-password">
      <%= f.label :current_password, class: "form-label" %> <i>(現在のパスワードの確認)</i>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="register-submit">
      <%= f.submit "編集", class: "btn btn-outline-success" %>
    </div>
  <% end %>
</div>

<h3>退会する</h3>

<p>退会しますか？</p>
<%= link_to "アカウントを削除", registration_path(@user), data: { turbo_method: "delete", turbo_confirm: "本当に削除しますか?" }, class: "btn btn-outline-danger" %>

<div class="back-button">
  <%= link_to "戻る", :back, class: "btn btn-outline-primary" %>
</div>