<h2 class="all-title">サインアップ</h2>
<div class="register-form">
  <%= form_for(resource, as: @user, url: registration_path(@user)) do |f| %>
    <%= render "devise/shared/error_messages", resource: @user %>

    <div class="register-user">
      <%= f.label "ユーザー名", class: "form-label" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="register-email">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="register-password">
      <%= f.label "パスワード", class: "form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="register-password">
      <%= f.label "パスワード確認", class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="register-submit">
      <%= f.submit "サインアップ", class: "btn btn-outline-success" %>
    </div>
  <% end %>
</div>

<%= link_to root_path do %>
  <button type="button" class="btn btn-outline-primary">戻る</button>
<% end%>

